{% extends 'base.html.twig' %}

{% block body %}
    <h1>Register</h1>
    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword) }}
        {{ form_row(form.agreeTerms) }}
        <button class="btn">Register</button>
    {{ form_end(form) }}
{% endblock %}
